Package: soem
Version: 1.3.3-halodi3
Architecture: amd64
Maintainer: Jesper Smith <jesper@halodi.com>
Installed-Size: 502
Section: misc
Priority: optional
Homepage: https://github.com/Halodi/SOEM
Description: Simple Open Source EtherCAT Master
